doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Mincha Reminders
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
  body
    nav
      div(class="nav-wrapper")
        a(href="#" class="brand-logo") Mincha Reminders
    h1 Mincha SMS reminders
    strong This is a mincha reminder app, it sends out mincha reminders using Nexmo as the sms provider
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")