doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Mincha Reminders
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
  body
    nav
      div(class="nav-wrapper")
        a(href="#" class="brand-logo") Mincha Reminders
    div(class="container")
      h1 Mincha SMS reminders
      p
        strong This app sends sms messages on a user set schedule to a pre-defined number using Nexmo as the sms provider.
        br
        strong It works as is, but I hope to add features like a configuration gui and the ability to send to more than one number.
      a(aria-label="Star adgelbfish/mincha-reminders on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/adgelbfish/mincha-reminders#stargazers_count" data-count-href="/adgelbfish/mincha-reminders/stargazers" data-style="mega" data-icon="octicon-star" href="https://github.com/adgelbfish/mincha-reminders" class="github-button") Star
      a(aria-label="Fork adgelbfish/mincha-reminders on GitHub" data-count-aria-label="# forks on GitHub" data-count-api="/repos/adgelbfish/mincha-reminders#forks_count" data-count-href="/adgelbfish/mincha-reminders/network" data-style="mega" data-icon="octicon-repo-forked" href="https://github.com/adgelbfish/mincha-reminders/fork" class="github-button") Fork
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")